.logo-container {
  z-index: -1;
  width: auto;
  height: 200px;
  position: absolute;
  top: auto;
  right: 5%;
  bottom: auto;
  left: auto;
  margin: auto;
  opacity: 0;

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(30deg) !important;
  }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    transform: rotateZ(30deg);
    z-index: 1;
  }

  // img {
  //   max-height: 650px;
  // }
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 10px;
}